.main {
  position: relative;
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
}
.section {
  margin-top: 4rem 0;
  display: grid;
  grid-template-areas: "character chat";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.character {
  background-color: rgba(255, 255, 255, 0.1); /* Branco com 10% de opacidade */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  border-right: 1px solid rgba(255, 255, 255, 0.2); /* Borda sutil */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  grid-area: chat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
